*.class

# Package Files #
*.jar
*.war

# Jasper Reports Binary
*.jasper
src/reports/*.jasper

# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/
war/temp/
src/main/webapp/WEB-INF/deploy/

#compilation logs
.gwt/

#caching for already compiled files
gwt-unitCache/

#gwt junit compilation files
www-test/

#old GWT (1.5) created this dir
.gwt-tmp/

#svn files
.svn/
svn-commit.tmp

# java local class path 
.classpath

# target file 
target/

# Hibernate temp files
hibernate/

# binary 
src/main/webapp/WEB-INF/deploy
src/main/webapp/WEB-INF/deploy/novoscan/symbolMaps
src/main/webapp/novoscan
