.dataGridHeader {
  font-size: small !important;
  text-decoration: none !important;
  padding: 1px 5px !important;
}
.dataGridCell {
  padding: 1px 5px !important;
}
.dataGridFooter {
  padding: 1px 5px !important;
}