<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.password">dctvgjrtlf</property>
  <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/dbtrack</property>
  <property name="hibernate.connection.username">owner_track</property>
  <property name="hibernate.default_schema">owner_track</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <!-- Enable Hibernate's automatic session context management -->
  <property name="current_session_context_class">thread</property>
  <!-- <property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property> 
 Echo all executed SQL to stdout -->
  <property name="show_sql">true</property>
  <!-- mapping class="ru.novaris.novoscan.domain.QueueModuleExec" resource="ru/novaris/novoscan/domain/QueueModuleExec.hbm.xml"/ -->
  <mapping class="ru.novaris.novoscan.domain.SysVariables" resource="ru/novaris/novoscan/domain/SysVariables.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.SysDictonary" resource="ru/novaris/novoscan/domain/SysDictonary.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.SysConsts" resource="ru/novaris/novoscan/domain/SysConsts.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.SprvUnits" resource="ru/novaris/novoscan/domain/SprvUnits.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.SprvSensorTypes" resource="ru/novaris/novoscan/domain/SprvSensorTypes.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.SprvObjectTypes" resource="ru/novaris/novoscan/domain/SprvObjectTypes.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.SprvModuleTypes" resource="ru/novaris/novoscan/domain/SprvModuleTypes.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.SprvDeparts" resource="ru/novaris/novoscan/domain/SprvDeparts.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.SprvClients" resource="ru/novaris/novoscan/domain/SprvClients.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.SprvObjects" resource="ru/novaris/novoscan/domain/SprvObjects.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.SprvModules" resource="ru/novaris/novoscan/domain/SprvModules.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.SprvSensors" resource="ru/novaris/novoscan/domain/SprvSensors.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.SprvCalibrate" resource="ru/novaris/novoscan/domain/SprvCalibrate.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.Accounts" resource="ru/novaris/novoscan/domain/Accounts.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.AccountLists" resource="ru/novaris/novoscan/domain/AccountLists.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.SprvArea" resource="ru/novaris/novoscan/domain/SprvArea.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.DataSensor" resource="ru/novaris/novoscan/domain/DataSensor.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.DataSensorLast" resource="ru/novaris/novoscan/domain/DataSensorLast.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.EventLog" resource="ru/novaris/novoscan/domain/EventLog.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.Roles" resource="ru/novaris/novoscan/domain/Roles.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.AccountRoles" resource="ru/novaris/novoscan/domain/AccountRoles.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.Profiles" resource="ru/novaris/novoscan/domain/Profiles.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.RussiaOsmPoint" resource="ru/novaris/novoscan/domain/RussiaOsmPoint.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.Request" resource="ru/novaris/novoscan/domain/Request.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.RequestRoute" resource="ru/novaris/novoscan/domain/RequestRoute.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.SprvReports" resource="ru/novaris/novoscan/domain/SprvReports.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.DataSensorValues" resource="ru/novaris/novoscan/domain/DataSensorValues.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.DataSensorLastValues" resource="ru/novaris/novoscan/domain/DataSensorLastValues.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.SprvReportTypes" resource="ru/novaris/novoscan/domain/SprvReportTypes.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.SprvReportParameters" resource="ru/novaris/novoscan/domain/SprvReportParameters.hbm.xml"/>
  <mapping class="ru.novaris.novoscan.domain.GisDataPoint" resource="ru/novaris/novoscan/domain/GisDataPoint.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
