.h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	vertical-align: center;
}

.h2 {
	margin: 5px 5px 5px 12px;
	color: #666666;
	font-size: 18pt;
	font-weight: bold;
	text-align: left;
	vertical-align: center;
}

.strongText {
	font-weight: bold;
	padding-left: 3px;
}

.italicText {
	font-style: italic;
	padding-right: 3px;
}

.root {
	border: 1px solid silver;
	padding: 5px;
}

.Content {
	width: 100%;
	height: 100%;
	border: 1px solid silver;
	vertical-align: center;
	z-index: 1;
}

.pageLabel {
	margin: 5px 20px 5px 20px;
	font-weight: bold;
	text-align: center;
}

.screenMessage {
	color: #666666;
	margin: 0px;
	padding: 0px;
	font-size: x-small;
	font-weight: bold;
}

.subHeader {
	margin: 2px 5px 2px 12px;
	color: #666666;
	font-size: 12pt;
	font-weight: bold;
}

.sendButton {
	font-size: x-small;
	text-align: center;
}

.warning {
	color: red;
}

body,table td,select {
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size: small;
}

pre {
	font-family: "courier new", courier;
	font-size: small;
}

body {
	color: black;
	margin: 0px;
	border: 0px;
	padding: 0px;
	background: #fff;
	direction: ltr;
}

.cw-StackPanelHeader {
	padding-left: 7px;
	font-weight: bold;
	font-size: 1.2em;
}

.cw-StackPanelHeader_sw {
	padding-left: 5px;
}

.watchListHeader {
	border: 2px solid silver;
	border-collapse: collapse;
}

.watchListHeaderMargin {
	border: 2px solid silver;
	border-collapse: collapse;
	margin-top: 10px;
}

.watchList {
	border: 1px solid silver;
	padding: 2px 0px 2px 10px;
	margin-bottom: 6px;
	border-collapse: collapse;
}

.justBorder {
	border: 1px solid silver;
	border-collapse: collapse;
}

.rowDeleted {
	background-color: #f6727c;
	color: black
}

.rowInserted {
	background-color: #7ed280;
	color: black
}

.rowNotSelected {
	background-color: white;
	color: black
}

.rowSelected {
	background-color: #85d5ff;
	color: white;
}

.right {
	text-align: right;
}

.gwt-TextArea {
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size: x-small;
}

.gwt-TextArea-readonly {
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size: x-small;
}

.gwtCellTable {
	margin: 0px;
	padding: 0px;
	font-size: x-small;
}

.gwtCellTable td {
	font-size: x-small;
}

.exit {
	cursor: pointer;
	cursor: hand;
}

.toforeground {
	z-index: 9999;
}

.tobackground {
	z-index: 0;
}

.gwt-MenuBar-tobackground {
	z-index: 0;
}

.gwt-MenuBar-toforeground {
	z-index: 9999;
}

.gwt-DialogBox-foreground {
	z-index: 9999;
}

.gwt-DialogBox {
	z-index: 9998;
}

.gwt-MenuBarPopup {
	z-index: 9999;
}

.dateBoxPopup {
	z-index: 10000
}

.FlexTable-Header {
	border: 1px outset #CCCCCC;
	cursor: pointer;
	font-size: small;
	margin: 0;
	padding: 3px 5px;
	text-decoration: none;
	background-image: url("images/header.png");
}

.FlexTable {
	border-top: thin solid #444444;
	border-left: thin solid #444444;
	border-right: thin solid #111111;
	border-bottom: thin solid #111111;
	background-color: #505050;
}

.FlexTable-OddRow {
	background-color: #cccccc;
}

.FlexTable-EvenRow {
	background-color: #505050;
}

.FlexTable-ColumnLabel {
	color: white;
	padding: 3px;
}

.FlexTable-ColumnLabelCell {
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: white;
	margin: 0;
	padding: 0;
	text-align: center;
}

.FlexTable-Cell {
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	border-color: white;
	padding: 5px;
}

.DataGridInfoTable {
	padding: 0px !important;
	font-size: x-small !important;
}

.buttonPanel {
	padding: 8px 20px !important;
	border-top: 1px solid #ccc !important;
	width: 100% !important;
}

.button {
	text-align: center !important;
	font-weight: bold !important;
}

.gwt-PopupPanel-foreground {
	z-index: 10000 !important;
}

.rowTableEvenRowNormal {
	background: none repeat scroll 0 0 #f3f7fb;
}

.rowTableEvenOddNormal {
	background: none repeat scroll 0 0 #fff;
}

.warning {
	background: none repeat scroll 0 0 #FFFFCC !important;
}
.critical {
	background: none repeat scroll 0 0 #FFCC99 !important;
}
.default {
	background: none repeat scroll 0 0 #99FF99 !important;
}


.daslObjectInfo {
	font-family: "Comic Sans MS" !important;
	font-size: x-small !important; 
	text-decoration: underline !important;
	color: black !important;
}

.daslUid {
	text-decoration: underline !important;
	font-family: courier, "courier new", monospace !important;
	font-weight: bold !important;
	font-size: x-small !important; 
	color: black !important;
}

.daslDateTime {
	font-family: courier, "courier new", monospace !important;
	font-weight: bold !important;
	font-size: x-small !important;
	color: black !important; 
}

.daslStatus {
	font-family: courier, "courier new", monospace !important;
	font-weight: bold !important;
	font-size: x-small !important;
	color: black !important; 
}

.daslSatUsed {
	font-family: courier, "courier new", monospace !important;
	font-weight: bold !important;
	font-size: x-small !important; 
	color: black !important;
}

.daslSpeed {
	font-family: courier, "courier new", monospace !important;
	font-weight: bold !important;
	font-size: x-small !important; 
	color: black !important;
}
